rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /jobs/{jobId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && resource.data.postedBy == request.auth.uid;
    }
    match /applications/{appId} {
      allow read: if true; // allow recruiters to read
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && resource.data.studentId == request.auth.uid;
    }
    match /companies/{companyId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && resource.data.ownerId == request.auth.uid;
    }
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /notifications/{notifId} {
      allow create: if request.auth != null;
      allow read, update, delete: if request.auth != null;
    }
  }
}
